body {
    background-image: url("Assets/background-image")
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.card {
    border: solid;
    border-color: black;
    border-radius: 25px;
    background-color: antiquewhite;
    padding: 25px;
    width: 300px;
}